.customers {
    background-image: url(./../../Components/Assets/Imgs/footer.webp);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
  .accordion-button::after, .accordion-button:not(.collapsed)::after {
    content: unset;
    background-image: unset;
  }
  .menu-item{
    width: 30px;
    height: 27px;
    position: relative;
    cursor: pointer;
  }
 
  .customers .menu-item span{
    width: 30px;
    height: 4px;
    background-color: #FFF;
    position: absolute;
    transition: .5s;
    border-radius: 15px;
  }
  .customers .menu-item span:first-child{
    top: 0px;
  }
  .customers .menu-item span:nth-child(2){
    top: 11px;
  }
  .customers .menu-item span:last-child{
    top: 23px;
  }